<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />

    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-6 col-md-3">
                <div class="form-login">
                    <form th:action="@{/login}" method="post">
                        <h4>Welcome to JIS Portal.</h4>
                        <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" name="username"/>
                        </br>
                        <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" name="password"/>
                        </br>
                        <div class="wrapper">
                            <button type="submit" class="btn btn-primary"><span class="fa fa-sign-in"> Sign In</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>